.App {
  text-align: center;
  padding: 20px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.week-number {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  min-width: 150px;
}

.week-number h2 {
  margin-top: 0;
}

.week-number p {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}
